
@import url('https://fonts.googleapis.com');

body {
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
            "slnt" 0,
            "CRSV" 0.5,
            "ELSH" 0,
            "ELXP" 0,
            "SZP1" 0,
            "SZP2" 0,
            "XPN1" 0,
            "XPN2" 0,
            "YPN1" 0,
            "YPN2" 0;
}
}

h1 {
    color: #000000;
    font-weight: 700;
}

p {
    font-size: 18px;
    max-width: 800px;
}

.button {
    background-color: #A49AE6;
    color: white;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.button:hover {
    background-color: #DCE69A
}
